body {
  background-color:#b478de;
  font-family:"Lucida Console", monospace;
  color:#f9f5fd;
  text-align:center;
}
nav {
  background-color:#7429aa;
  text-align:center
}
footer {
  background-color:#7429aa;
}
a, a:link, a:visited {
  color:#f9f5fd;
}
img {
  border:2px solid #a157d6;
}
video {
  border:2px solid #a157d6
}
div {
  cursor: url('bangocatauto.png'), auto;
  cursor: url('bangocatpointer.png'), pointer;
}
