body {
  background-color:#7c2bed;
  font-family:"Lucida Console", monospace;
  color:khaki;
}
nav {
  background-color:#cc99ff;
}
footer {
  background-color:#cc99ff;
}
a, a:link, a:visited {
  color:khaki;
}
