body {
  background-color:#fcf5de;
  font-family:"Lucida Console", monospace;
  color:#fcec81;
}
nav {
  background-color:#6b00d6;
  color: white;
}
footer {
  background-color:#6b00d6;
}
a, a:link, a:visited {
  color:#fcec81;
}
