body {
  background-color:#db95b6;
  font-family:"Monaco", monospace;
  color: white;
}
nav {
  background-color:#c35088;
  color: white;
}
footer {
  background-color:#c35088;
}
a, a:link, a:visited {
  color: white;
}
h1 {
  font-weight:bold;
  letter-spacing:1px;
}
img {
  border:2px solid #cf729f;
}
video {
  border:2px solid #cf729f
}
