body {
  background-color:#f3d6e4;
  font-family:"Lucida Console", monospace;
  color: white;
}
nav {
  background-color:#d56d9f;
  color: white;
}
footer {
  background-color:#d56d9f;
}
a, a:link, a:visited {
  color: white;
}
